body {
  background-color: rgb(215, 124, 186);
  color: rgb(79, 32, 32);
  text-align: center;
}
.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
}
.divProducto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}
img {
  max-height: 50px;
}
#realTimeProducts {
  min-width: 80vw;
}
.btn-addCart{
  padding: 10px 20px;
  background-color: rgb(237, 244, 245);
  color: rgb(146, 11, 101);
  border: none;
  border-radius: 5px;
  cursor: pointer;

}
.btn-addCart:hover{
background-color:rgb(14, 232, 69);
}
.btn-addCart:active{
background-color:rgb(237, 244, 245);
}